
$colour1: #26166b;
$colour2: #093697;

$blue: $colour2;

@import 'node_modules/bootstrap/scss/bootstrap.scss';

html {
  padding: 1em;
}

body,
html {
  background-color: #eee;
}

.card {
  border-radius: 2px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  padding: 3em;
}
